<app-navbar></app-navbar>
<div class="bo" *ngIf="artist">
    <header class="artist-header">
        <div class="artist-thumb-container" *ngIf="artist.images.length > 0">
            <img class="artist-thumb" src="{{artist.images[2].url}}" alt="...">
        </div>
        <h1 class="artist-name">{{ artist.name }}</h1>
    </header>

    <div>
        <h4><span class="popular-tracks">Populares</span></h4>
    </div>

    <div class="col-xs-12 col-lg-9 col-xl-8">
        <section class="tracklist-container">
            <div *ngFor="let topTracks of topTracks; let i = index">
                <div class="track" *ngIf="5 > i">
                    <svg class="bi bi-music-note" width="1em" height="1em" viewBox="0 0 16 16" fill="#fdfffc" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                        <path fill-rule="evenodd" d="M9 3v10H8V3h1z" clip-rule="evenodd"/>
                        <path d="M8 2.82a1 1 0 01.804-.98l3-.6A1 1 0 0113 2.22V4L8 5V2.82z"/>
                    </svg>
                    <img class="album-img" src="{{topTracks.album.images[2].url}}" alt="...">
                    <span class="track-name">{{ topTracks.name }}</span>
                </div>
            </div>
        </section>
    </div>

    <div class="artist-albums">
        <span class="album-title">Albums</span>
        <div class="row">
            <div *ngFor="let album of albums">
                <div class="col">
                    <div class="album-item">
                        <div *ngIf="album.album_type == 'album'">
                            <img src="{{album.images[2].url}}" class="rounded mx-auto d-block" alt="...">
                            <a class="nav-link" [routerLink]="['/album', album.id]" routerLinkActive="active">{{ album.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>