@font-face {
    font-family: 'Baloo2-Bold';
    src: url('src/assets/fonts/Baloo2-Bold.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Medium';
    src: url('src/assets/fonts/Baloo2-Medium.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Regular';
    src: url('src/assets/fonts/Baloo2-Regular.ttf') format("opentype");
}

:host {
    background-color: #333333;
    display: block;
}

.artist-name {
    padding-left: 10px;
    font-family: Baloo2-Bold;
    color: #fcfffc;
}

.popular-tracks {
    padding-left: 10px;
    font-family: Baloo2-Bold;
    color: #fcfffc;
}

.tracklist-container {
    padding-top: 10px;
}

.track {
    padding: 3px 0 3px 0;
    color: #fcfffc;
}

.track:hover {
    background-color: #777b7e;
}

.track-name {
    padding-left: 10px;
}

.track-album-img {
    padding-left: 10px;
}

.artist-albums {
    padding-top: 30px;
    padding-left: 20px;
}

.album-title {
    padding-bottom: 15px;
    text-align: center;
    font-size: larger;
    font-family: Baloo2-Bold;
    color: #ff0022;
}

.album-item {
    padding-top: 15px;
    height: 125px;
    width: 125px;
    text-align: center;
}

.nav-link {
    font-family: Baloo2-Medium;
    color: #ff0022;
}

.nav-link:hover {
    color: #fcfffc;
}