@font-face {
    font-family: 'Baloo2-Bold';
    src: url('src/assets/fonts/Baloo2-Bold.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Medium';
    src: url('src/assets/fonts/Baloo2-Medium.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Regular';
    src: url('src/assets/fonts/Baloo2-Regular.ttf') format("opentype");
}

:host {
    background-color: #232023;
    display: block;
}

.artist-thumb-container { 
    position: relative; 
    width: 100%; /* for IE 6 */
 }

 .artist-thumb{
    object-fit: cover;
    width: 100%;
    height: 250px;
}



.test{
    border: 1px solid #ccc;
    width: 400px;
    height: 400px;
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(to top, #232023, #fcfffc); 
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(to top, #232023, #fcfffc); 
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(to top, #232023, #fcfffc); 
    /* Standard syntax */
    background: linear-gradient(to top, blue, #fcfffc);
}

.artist-name {
    position: absolute; 
    top: 200px; 
    left: 0; 
    width: 100%; 
    padding-left: 10px;
    font-family: Baloo2-Bold;
    color: #fcfffc;
}

.popular-tracks {
    padding: 20px 0 0 20px;
    font-family: Baloo2-Bold;
    color: #fcfffc;
    font-size: 28px;
}

.track {
    padding: 3px 0 3px 0;
    color: #fcfaf9;
}

.track:hover {
    background-color: #777b7e;
}

.track-name {
    padding-left: 10px;
    font-family: Baloo2-Regular;
    color: #fcfffc;
    font-size: 16px;
}

.track-duration {
    float: right;
    padding: 21px 10px 0 0;
    text-align: center;
    font-family: Baloo2-Regular;
    color: #fcfffc;
    font-size: 14px;
}

.track-album-img {
    padding-left: 10px;
}

.artist-albums {
    padding-top: 30px;
    padding-left: 20px;
}

.album-title {
    padding-bottom: 15px;
    text-align: center;
    font-size: larger;
    font-family: Baloo2-Bold;
    color: #fcfaf9;
    font-size: 28px;
}


.col {
    display: flex;
    flex-flow: row wrap;
    padding: 30px 30px 10px 30px;
}

.album-item {
    padding-top: 20px;
    border: #5e5e5e;
    border-width: .2em;
    border-radius: .7em;
    background-color: #333333;
    height: 286px;
    width: 212px;
    align-items: center;
    overflow: hidden;
    display: flex;
    flex-flow: column wrap;
}

.album-name {
    padding-top: 30px;
    font-family: Baloo2-Medium;
    color: #fcfaf9;
}

.album-name:hover {
    color: #48e5c2;
    text-decoration:none;
}