@font-face {
    font-family: 'Baloo2-Bold';
    src: url('src/assets/fonts/Baloo2-Bold.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Medium';
    src: url('src/assets/fonts/Baloo2-Medium.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Regular';
    src: url('src/assets/fonts/Baloo2-Regular.ttf') format("opentype");
}

:host {
    background-color: #232023;
    display: block;
}

.container-fluid {
    padding: 90px 0 0 70px;
    display: flex;
}

.album-info {
    width: 55%;
    float: left;
    text-align: center;
}

.tracklistHeader {
    text-align: center;
}

.tracklistHeader_body {
    font-family: Baloo2-Medium;
    color: #fcfffc;
}

.tracklistHeader_text-silence {
    margin-bottom: 0;
}

.track {
    display: block;
}

.track_name {
    padding-left: 10px;
    font-family: Baloo2-Regular;
    color: #fcfffc;
    font-size: 16px;
}

.track-duration {
    float: right;
    font-family: Baloo2-Regular;
    color: #fcfffc;
    font-size: 14px;
}

.copyrights {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: .015em;
    color: #fff;
    opacity: .6;
    padding: 20px 0 0 0;
}