@font-face {
    font-family: 'Baloo2-Bold';
    src: url('src/assets/fonts/Baloo2-Bold.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Medium';
    src: url('src/assets/fonts/Baloo2-Medium.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Regular';
    src: url('src/assets/fonts/Baloo2-Regular.ttf') format("opentype");
}

:host {
    background-color: #011627;
    display: block;
}


.releases_title {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    color: #ff0022;
}

.col {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 50px 50px 0 50px;
}

.releases_item {
    border: #ff0022 solid;
    border-width: .2em;
    border-radius: .7em;
    height: 200px;
    width: 175px;
    text-align: center;
}

.nav-link {
    font-family: Baloo2-Medium;
    color: #011627;
}

.nav-link:hover {
    color: #ff0022;
}
  