@font-face {
    font-family: 'Baloo2-Bold';
    src: url('src/assets/fonts/Baloo2-Bold.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Medium';
    src: url('src/assets/fonts/Baloo2-Medium.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Regular';
    src: url('src/assets/fonts/Baloo2-Regular.ttf') format("opentype");
}

:host {
    background-color: #333333;
}

.releases_title {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: #ff0022;
}

.col {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 50px 50px 10px 50px;
}

.releases_item {
    border: #5e5e5e;
    border-width: .2em;
    border-radius: .7em;
    background-color: #5e5e5e;
    height: 200px;
    width: 175px;
    text-align: center;
}

.nav-link {
    font-family: Baloo2-Medium;
    color: #fcfaf9;
}

.nav-link:hover {
    color: #48e5c2;
}