@font-face {
    font-family: 'Baloo2-Bold';
    src: url('src/assets/fonts/Baloo2-Bold.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Medium';
    src: url('src/assets/fonts/Baloo2-Medium.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Regular';
    src: url('src/assets/fonts/Baloo2-Regular.ttf') format("opentype");
}

#searchBarWrap {
    display: flex;
    justify-content: center;
    padding-top: 90px;
}

#searchBar {
    font-family: Baloo2-Regular;
    border: #48e5c2 solid;
    border-width: .2em;
    border-radius: .7em;
    padding: .2em .2em .2em .5em;
    width: 325px;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-res {
    
    border: #48e5c2 solid;
    border-width: .1em;
    border-radius: .7em;
    height: 70px;
    width: 325px;
}

.img-container{
    padding: 4px 0 0 5px;
}

.search-artist-name {
    font-family: Baloo2-Medium;
    color: #fcfaf9;
}

.search-artist-name:hover {
    color: #48e5c2;
}

.artist-thumb {
    float: left;
}