@font-face {
    font-family: 'Baloo2-Bold';
    src: url('src/assets/fonts/Baloo2-Bold.ttf') format("opentype");
}

@font-face {
    font-family: 'Baloo2-Medium';
    src: url('src/assets/fonts/Baloo2-Medium.ttf') format("opentype");
}

.navbarContainer {
    width: 100%;
    height: 68px;
    padding: 0 40px 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Baloo2-Medium;
    background-color: #ff0022;
}

a {
    color: #fdfffc;
    margin: 0;
}

a:hover {
    font-family: Baloo2-Bold;
    text-decoration: none;
}

#homeBtn {
    font-size: 40px;
    font-weight: 600;
}

#signInBtn {
    font-weight: 500;
    font-size: 25px;
}